<launch>
    <arg name="directory" default="/home/junhakim/camlidar_data/"/>

    <arg name="n_cameras" default="2"/>
    <arg name="n_lidars" default="0"/>

    <arg name="image_name0" default="/zed/zed_node/left_raw/image_raw_color"/>
    <arg name="image_name1" default="/zed/zed_node/right_raw/image_raw_color"/>
    
    <!--remap from="/os1_cloud_node/points" to="lidar0/velodyne_points"/-->

    <node pkg="camlidar_logger" name="camlidar_logger_node" type="camlidar_logger_node" output="screen">
        <param name="n_cameras" type="int" value="$(arg n_cameras)"/>
        <param name="n_lidars" type="int" value="$(arg n_lidars)"/>
        <param name="image_name0" type="string" value="$(arg image_name0)"/>
        <param name="image_name1" type="string" value="$(arg image_name1)"/>
        <param name="directory" type="string" value="$(arg directory)"/>
    </node>

</launch>
